doctype html
include utility
html
  head
    block head
      block meta
        meta(charset="utf-8")
        +viewport
        +ua-compatible
      block favicon
      block style
  body
    block content
    block script
      +javascript('script/jquery.min.js')
