doctype html
include utility
html
  head
    block meta
      meta(charset="utf-8")
      +viewport
      +ua-compatible
    title Project Boilerplate
  body
    center
      h1 Under Construction ( •́ㅿ•̀ )

